infra/prism-impl/src/test/resources/schema/weapons.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2010-2013 Evolveum and contributors
  ~
  ~ Licensed under the EUPL-1.2 or later.
  -->


<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://midpoint.evolveum.com/xml/ns/test/weapons"
            xmlns:tns="http://midpoint.evolveum.com/xml/ns/test/weapons"
            xmlns:c="http://midpoint.evolveum.com/xml/ns/public/common/common-3"
            xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="WeaponBrandType">
        <xsd:sequence>
            <xsd:element name="manufacturer" type="xsd:string" minOccurs="1"/>
            <xsd:element name="model" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
