infra/prism-impl/src/main/resources/xml/ns/test/foo-1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2010-2020 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/test/foo-1.xsd"
        xmlns:tns="http://midpoint.evolveum.com/xml/ns/test/foo-1.xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
        xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
        xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
        xmlns:ft="http://midpoint.evolveum.com/xml/ns/test/foo-types-1"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        xmlns:xenc="http://www.w3.org/2001/04/xmlenc#"
        elementFormDefault="qualified"
        jaxb:extensionBindingPrefixes="xjc"
        jaxb:version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            Testing schema for Prism framework
        </xsd:documentation>
        <xsd:appinfo>
            <jaxb:globalBindings>
                <xjc:typeSubstitution type="complex"/>
                <xjc:serializable uid="201202081233"/>
            </jaxb:globalBindings>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3" schemaLocation="http://prism.evolveum.com/xml/ns/public/query-3"/>

    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3" schemaLocation="http://prism.evolveum.com/xml/ns/public/types-3">
        <xsd:annotation>
            <xsd:documentation>
                The XML Encryption schema. Used for "protected" data types (property encryption).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/test/foo-types-1" schemaLocation="http://midpoint.evolveum.com/xml/ns/test/foo-types-1"/>

    <xsd:element name="name" type="t:PolyStringType"/>
    <xsd:element name="displayName" type="xsd:string"/>
    <xsd:element name="description" type="xsd:string"/>
    <xsd:element name="extension" type="tns:ExtensionType"/>

    <xsd:complexType name="ExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax">
            </xsd:any>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Basic Object Types -->

    <xsd:complexType name="ObjectType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:object/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="tns:name" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectType.name</a:displayName>
                        <a:displayOrder>0</a:displayOrder>
                        <a:help>Short unique name of the object</a:help>
                        <a:displayHint>emphasized</a:displayHint>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:description" minOccurs="0"/>
            <xsd:element ref="tns:extension" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectType.extension</a:displayName>
                        <a:displayOrder>1000</a:displayOrder>
                        <a:help>Object extension contains extra properties</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parentOrgRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:ObjectType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="oid" type="xsd:string" use="optional"/>
        <xsd:attribute name="version" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:element name="object" type="tns:ObjectType"/>

    <xsd:complexType name="UserType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <!-- Single-valued properties -->
                    <xsd:element name="fullName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>UserType.fullName</a:displayName>
                                <a:displayOrder>10</a:displayOrder>
                                <a:help>User full name</a:help>
                                <a:displayHint>emphasized</a:displayHint>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="givenName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="familyName" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayHint>emphasized</a:displayHint>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- Multi-valued property -->
                    <xsd:element name="additionalNames" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="polyName" type="t:PolyStringType" minOccurs="0"/>
                    <xsd:element name="locality" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <!-- Multi-valued container -->
                    <xsd:element name="assignment" type="tns:AssignmentType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Single-valued container -->
                    <xsd:element name="activation" type="tns:ActivationType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ActivationType.activation</a:displayName>
                                <a:displayOrder>1200</a:displayOrder>
                                <a:help>User activation properties</a:help>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="password" type="t:ProtectedStringType" minOccurs="0"/>
                    <xsd:element name="accountRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:objectReferenceTargetType>tns:AccountType</a:objectReferenceTargetType>
                                <a:composite>true</a:composite>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- element that has different names in XML/JSON/YAML and in java bean -->
                    <xsd:element name="special" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <!-- single-occurrence container -->
                    <xsd:element name="singleActivation" type="tns:ActivationType" minOccurs="0"/>
                    <!-- multi-occurrence container -->
                    <xsd:element name="multiActivation" type="tns:ActivationType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- multi-occurrence container -->
                    <xsd:element name="multiActivationCopy" type="tns:ActivationType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- single-occurrence structured property (not a container) -->
                    <xsd:element name="singleConstruction" type="tns:AccountConstructionType" minOccurs="0"/>
                    <!-- multi-occurrence container -->
                    <xsd:element name="multiConstruction" type="tns:AccountConstructionType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- multi-occurrence container -->
                    <xsd:element name="multiConstructionCopy" type="tns:AccountConstructionType" minOccurs="0" maxOccurs="unbounded"/>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="user" type="tns:UserType"/>

    <xsd:complexType name="ObjectReferenceType">
        <xsd:annotation>
            <xsd:documentation>
                Reference to an object. It contains OID of the object that it refers to.
            </xsd:documentation>
            <xsd:appinfo>
                <a:objectReference/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Free-form description of this reference. Usually used to describe the purpose of
                        a search filter embedded in the reference.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filter" minOccurs="0" maxOccurs="1" type="q:SearchFilterType">
                <xsd:annotation>
                    <xsd:documentation>
                        Filter that can be used to dynamically lookup the reference OID e.g. during imports.
                        It must not be used for normal operations and references with the filter must not
                        be stored in the repository.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="object" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                    </xsd:sequence>
                    <xsd:anyAttribute namespace="##any" processContents="lax"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="oid" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Target of the reference.

                    Optional only during imports. The objects stored in the repository must have the OID
                    value filled in.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="xsd:QName" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    XSD type of the reference target object.

                    It should be provided if the type is known (e.g. when
                    reading object from the repository).

                    The primary reason for this is to have some kind of
                    type safety but especially to be able to use
                    this in the XPaths that specify what references to resolve.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="incomplete" type="xsd:boolean" use="optional"/>
    </xsd:complexType>


    <xsd:complexType name="AccountType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="attributes" type="tns:AttributesType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="account" type="tns:AccountType"/>

    <xsd:complexType name="AssignmentType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="accountConstruction" type="tns:AccountConstructionType" minOccurs="0"/>
            <xsd:element name="activation" type="tns:ActivationType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="optional"/>
        <xsd:attribute name="incomplete" type="xsd:boolean" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="AccountConstructionType">
        <xsd:annotation>
            <xsd:documentation>
                Account construction type is NOT a container. It is a complex-type property.
                This tests the ability to deal with complex type properties and also with
                dateTime and RawType fields in them.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="howto" type="xsd:string" minOccurs="0"/>
            <xsd:element name="when" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="value" type="t:RawType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ActivationType">
        <xsd:annotation>
            <xsd:documentation>
                ActivationTyps is a container, therefore the following elements are properties.
                This tests the ability to deal with boolean and dateTime properties.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:operational>true</a:operational>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="enabled" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="validFrom" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="validTo" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AttributesType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DummyProtectedStringType">
        <xsd:annotation>
            <xsd:documentation>
                This type mimmicks a complex type that may be used in properties.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FooObjectClass">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ft:uid" minOccurs="0"/>
            <xsd:element ref="ft:name" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="foo" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ResourceType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="schema" type="t:SchemaDefinitionType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="resource" type="tns:ResourceType"/>

    <!-- The following is currently not supported by prism. Keeping it here if needed in the future... -->
    <xsd:complexType name="EventHandlerType">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:element name="handler" type="tns:EventHandlerType" abstract="true"/>

    <xsd:complexType name="EventHandlerChainType">
        <xsd:complexContent>
            <xsd:extension base="tns:EventHandlerType">
                <xsd:sequence>
                    <xsd:element ref="tns:handler" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="handlerChain" type="tns:EventHandlerChainType" substitutionGroup="tns:handler"/>

    <xsd:complexType name="EventCategoryFilterType">
        <xsd:complexContent>
            <xsd:extension base="tns:EventHandlerType">
                <xsd:sequence>
                    <xsd:element name="category" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="categoryFilter" type="tns:EventCategoryFilterType" substitutionGroup="tns:handler"/>

    <xsd:complexType name="EventStatusFilterType">
        <xsd:complexContent>
            <xsd:extension base="tns:EventHandlerType">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="statusFilter" type="tns:EventStatusFilterType" substitutionGroup="tns:handler"/>

    <xsd:complexType name="EventOperationFilterType">
        <xsd:complexContent>
            <xsd:extension base="tns:EventHandlerType">
                <xsd:sequence>
                    <xsd:element name="operation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="operationFilter" type="tns:EventOperationFilterType" substitutionGroup="tns:handler"/>

    <xsd:complexType name="FooValueMetadataType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <!--   xsd:sequence>
            <xsd:element name="loa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="test" type="xsd:string" minOccurs="0"/>
        </xsd:sequence -->
    </xsd:complexType>
    <xsd:element name="fooValueMetadataType" type="tns:FooValueMetadataType"/>

    <xsd:complexType name="MessageTemplateType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="defaultContent" type="tns:MessageTemplateContentType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="messageTemplate" type="tns:MessageTemplateType"/>

    <xsd:complexType name="MessageTemplateContentType">
        <xsd:sequence>
            <xsd:element name="bodyExpression" type="tns:ExpressionType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExpressionType">
        <xsd:sequence>
            <xsd:element name="script" type="tns:ScriptExpressionEvaluatorType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ScriptExpressionEvaluatorType">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RoleType">
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractRoleType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="role" type="tns:RoleType"/>

    <xsd:element name="documentation" type="xsd:string">
        <xsd:annotation>
            <xsd:appinfo>
                <a:since>4.1</a:since>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ObjectSelectorType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:merger>ObjectSelectorType</a:merger>
                <a:schemaContext>
                    <a:typePath>type</a:typePath>
                </a:schemaContext>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.name</a:displayName>
                        <a:since>4.8</a:since>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:description" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.description</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:documentation" minOccurs="0"/>
            <xsd:element name="type" minOccurs="0" type="xsd:QName">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.type</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="subtype" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.subtype</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="archetypeRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:ArchetypeType</a:objectReferenceTargetType>
                        <a:since>4.0</a:since>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orgRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:OrgType</a:objectReferenceTargetType>
                        <a:displayName>ObjectSelectorType.orgRef</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filter" type="q:SearchFilterType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Filter that an object must match to be considered selected by this statement.
                        This filter MUST NOT contain organization unit clauses. It may only contain
                        property clauses, logical operations and so on.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.filter</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parent" type="tns:ObjectParentSelectorType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.parent</a:displayName>
                        <a:elaborate>true</a:elaborate> <!-- because of recursion -->
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="SubjectedObjectSelectorType">
        <xsd:annotation>
            <xsd:documentation>
                Selects some objects from all the objects in midPoint.
                This is an extension of ObjectSelectorType that adds
                criteria that relate objects to a specific subject
                (logged-in user).
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectSelectorType">
                <xsd:sequence>
                    <xsd:element name="allowInactive" type="xsd:boolean" minOccurs="0" default="false">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="OwnedObjectSelectorType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <!--<a:schemaContext>-->
                <!--    <a:typePath>type</a:typePath>-->
                <!--</a:schemaContext>-->
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:SubjectedObjectSelectorType">
                <xsd:sequence>
                    <xsd:element name="owner" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="delegator" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="requester" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="assignee" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="candidateAssignee" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="relatedObject" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="FocusType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <a:object/>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:complexType>

    <xsd:complexType name="RelationDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Definition of a single (custom) relation.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
                <a:since>3.9</a:since>
                <a:displayName>RelationDefinitionType.relation</a:displayName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ref" type="xsd:QName">
                <xsd:annotation>
                    <xsd:documentation>
                        Relations identifier (QName)
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.ref</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Free-form description of relation purpose. This field can be used as a comment.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.description</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="processedOnLogin" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation is processed during login. The default value is true for member, meta and delegation
                        kinds, false otherwise. EXPERIMENTAL.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.processedOnLogin</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="processedOnRecompute" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation is (by default) processed during recomputation. The default value is true
                        for member, meta, manager and delegation kinds, false otherwise. EXPERIMENTAL.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.processedOnRecompute</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="storedIntoParentOrgRef" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation is stored into parentOrgRef item. The default value is true
                        for member kind, false otherwise. EXPERIMENTAL.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.storedIntoParentOrgRef</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="automaticallyMatched" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation is automatically matched by order constraints (without the need to explicitly
                        list them). The default value is true for member, meta and delegation kinds, false otherwise.
                        EXPERIMENTAL.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.automaticallyMatched</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="staticallyDefined" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation was statically defined in midPoint code. Do not set this flag explicitly,
                        it is filled-in when relations are parsed.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:operational>true</a:operational>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="AuthorizationType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:naturalKey>name</a:naturalKey>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element ref="tns:description" minOccurs="0"/>
            <xsd:element ref="tns:documentation" minOccurs="0"/>
            <xsd:element name="action" type="xsd:anyURI" maxOccurs="unbounded"/>
            <xsd:element name="object" type="tns:OwnedObjectSelectorType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="item" type="t:ItemPathType"  minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="exceptItem" type="t:ItemPathType"  minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="relation" type="xsd:QName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="AbstractRoleType" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="displayName" type="t:PolyStringType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.displayName</a:displayName>
                                <a:displayOrder>9</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identifier" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.identifier</a:displayName>
                                <a:displayOrder>110</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inducement" type="tns:AssignmentType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.inducement</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="authorization" type="tns:AuthorizationType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="requestable" type="xsd:boolean" minOccurs="0" default="false">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.requestable</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="delegable" type="xsd:boolean" minOccurs="0" default="false">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.delegable</a:displayName>
                                <a:since>3.5</a:since>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.riskLevel</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="abstractRole" type="tns:AbstractRoleType"/>
    <xsd:complexType name="ObjectParentSelectorType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <!--<a:schemaContext>-->
                <!--    <a:typePath>type</a:typePath>-->
                <!--</a:schemaContext>-->
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:OwnedObjectSelectorType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="path" type="t:ItemPathType">
                        <xsd:annotation>
                            <xsd:documentation>
                                Specification of a path from the parent to the current object (item).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
