infra/prism-impl/src/main/resources/xml/ns/test/foo-1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2010-2020 Evolveum and contributors
  ~
  ~ This work is dual-licensed under the Apache License 2.0
  ~ and European Union Public License. See LICENSE file for details.
  -->

<xsd:schema targetNamespace="http://midpoint.evolveum.com/xml/ns/test/foo-1.xsd"
        xmlns:tns="http://midpoint.evolveum.com/xml/ns/test/foo-1.xsd"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:a="http://prism.evolveum.com/xml/ns/public/annotation-3"
        xmlns:t="http://prism.evolveum.com/xml/ns/public/types-3"
        xmlns:q="http://prism.evolveum.com/xml/ns/public/query-3"
        xmlns:ft="http://midpoint.evolveum.com/xml/ns/test/foo-types-1"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        xmlns:xenc="http://www.w3.org/2001/04/xmlenc#"
        elementFormDefault="qualified"
        jaxb:extensionBindingPrefixes="xjc"
        jaxb:version="2.0">

    <xsd:annotation>
        <xsd:documentation>
            Testing schema for Prism framework
        </xsd:documentation>
        <xsd:appinfo>
            <jaxb:globalBindings>
                <xjc:typeSubstitution type="complex"/>
                <xjc:serializable uid="201202081233"/>
            </jaxb:globalBindings>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/query-3" schemaLocation="http://prism.evolveum.com/xml/ns/public/query-3"/>

    <xsd:import namespace="http://prism.evolveum.com/xml/ns/public/types-3" schemaLocation="http://prism.evolveum.com/xml/ns/public/types-3">
        <xsd:annotation>
            <xsd:documentation>
                The XML Encryption schema. Used for "protected" data types (property encryption).
            </xsd:documentation>
        </xsd:annotation>
    </xsd:import>

    <xsd:import namespace="http://midpoint.evolveum.com/xml/ns/test/foo-types-1" schemaLocation="http://midpoint.evolveum.com/xml/ns/test/foo-types-1"/>

    <xsd:element name="name" type="t:PolyStringType"/>
    <xsd:element name="displayName" type="xsd:string"/>
    <xsd:element name="description" type="xsd:string"/>
    <xsd:element name="extension" type="tns:ExtensionType"/>

    <xsd:complexType name="ExtensionType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax">
            </xsd:any>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Basic Object Types -->

    <xsd:complexType name="ObjectType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:object/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="tns:name" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectType.name</a:displayName>
                        <a:displayOrder>0</a:displayOrder>
                        <a:help>Short unique name of the object</a:help>
                        <a:displayHint>emphasized</a:displayHint>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:description" minOccurs="0"/>
            <xsd:element ref="tns:extension" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectType.extension</a:displayName>
                        <a:displayOrder>1000</a:displayOrder>
                        <a:help>Object extension contains extra properties</a:help>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parentOrgRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:ObjectType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="oid" type="xsd:string" use="optional"/>
        <xsd:attribute name="version" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:element name="object" type="tns:ObjectType"/>

    <xsd:complexType name="UserType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <!-- Single-valued properties -->
                    <xsd:element name="fullName" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>UserType.fullName</a:displayName>
                                <a:displayOrder>10</a:displayOrder>
                                <a:help>User full name</a:help>
                                <a:displayHint>emphasized</a:displayHint>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="givenName" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="familyName" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayHint>emphasized</a:displayHint>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- Multi-valued property -->
                    <xsd:element name="additionalNames" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="polyName" type="t:PolyStringType" minOccurs="0"/>
                    <xsd:element name="locality" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <!-- Multi-valued container -->
                    <xsd:element name="assignment" type="tns:AssignmentType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="uselessAssignment" type="tns:AssignmentType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>
                                This is just useless version of assignment that contains/tests customized natural key (note),
                                which overrides the one defined on AssignmentType.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:naturalKey>tns:note</a:naturalKey>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- Single-valued container -->
                    <xsd:element name="activation" type="tns:ActivationType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ActivationType.activation</a:displayName>
                                <a:displayOrder>1200</a:displayOrder>
                                <a:help>User activation properties</a:help>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="password" type="t:ProtectedStringType" minOccurs="0"/>
                    <xsd:element name="accountRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:objectReferenceTargetType>tns:AccountType</a:objectReferenceTargetType>
                                <a:composite>true</a:composite>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!-- element that has different names in XML/JSON/YAML and in java bean -->
                    <xsd:element name="special" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <!-- single-occurrence container -->
                    <xsd:element name="singleActivation" type="tns:ActivationType" minOccurs="0"/>
                    <!-- multi-occurrence container -->
                    <xsd:element name="multiActivation" type="tns:ActivationType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- multi-occurrence container -->
                    <xsd:element name="multiActivationCopy" type="tns:ActivationType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- single-occurrence structured property (not a container) -->
                    <xsd:element name="singleConstruction" type="tns:AccountConstructionType" minOccurs="0"/>
                    <!-- multi-occurrence container -->
                    <xsd:element name="multiConstruction" type="tns:AccountConstructionType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- multi-occurrence container -->
                    <xsd:element name="multiConstructionCopy" type="tns:AccountConstructionType" minOccurs="0" maxOccurs="unbounded"/>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="user" type="tns:UserType"/>

    <xsd:complexType name="ObjectReferenceType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:objectReference/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="tns:description" minOccurs="0"/>
            <xsd:element ref="tns:documentation" minOccurs="0"/>
            <xsd:element name="filter" type="q:SearchFilterType" minOccurs="0" />
            <xsd:element name="resolutionTime" type="t:EvaluationTimeType" minOccurs="0" default="import" />
            <xsd:element name="referentialIntegrity" type="t:ReferentialIntegrityType" minOccurs="0" default="default" />
            <xsd:element name="targetName" type="t:PolyStringType" minOccurs="0" />
        </xsd:sequence>
        <xsd:attribute name="oid" type="xsd:string" />
        <xsd:attribute name="type" type="xsd:QName" />
        <xsd:attribute name="relation" type="xsd:QName" />
    </xsd:complexType>
    <xsd:element name="objectRef" type="tns:ObjectReferenceType"/>

    <xsd:complexType name="AccountType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="attributes" type="tns:AttributesType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="account" type="tns:AccountType"/>

    <xsd:complexType name="AssignmentType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:naturalKey>tns:identifier</a:naturalKey>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identifier" type="xsd:string" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="note" type="xsd:string" minOccurs="0"/>
            <xsd:element name="accountConstruction" type="tns:AccountConstructionType" minOccurs="0"/>
            <xsd:element name="activation" type="tns:ActivationType" minOccurs="0"/>
            <xsd:element name="targetRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>AssignmentType.target</a:displayName>
                        <a:help>AssignmentType.target.help</a:help>
                        <a:objectReferenceTargetType>tns:AssignmentHolderType</a:objectReferenceTargetType>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="optional"/>
        <xsd:attribute name="incomplete" type="xsd:boolean" use="optional"/>
    </xsd:complexType>
    <xsd:element name="assignment" type="tns:AssignmentType"/>

    <xsd:complexType name="FocusType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <a:object/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:AssignmentHolderType">
                <xsd:sequence>
                    <!--<xsd:element name="identities" type="tns:FocusIdentitiesType" minOccurs="0" />-->
                    <xsd:element name="linkRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>FocusType.linkRef</a:displayName>
                                <a:objectReferenceTargetType>tns:ShadowType</a:objectReferenceTargetType>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="personaRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="activation" type="tns:ActivationType" minOccurs="0" />
                    <xsd:element name="jpegPhoto" type="xsd:base64Binary" minOccurs="0" />
                    <xsd:element name="costCenter" type="xsd:string" minOccurs="0" />
                    <xsd:element name="locality" type="t:PolyStringType" minOccurs="0" />
                    <xsd:element name="preferredLanguage" type="xsd:string" minOccurs="0" />
                    <xsd:element name="locale" type="xsd:string" minOccurs="0" />
                    <xsd:element name="timezone" type="xsd:string" minOccurs="0" />
                    <xsd:element name="emailAddress" type="xsd:string" minOccurs="0" />
                    <xsd:element name="telephoneNumber" type="xsd:string" minOccurs="0" />
                    <xsd:element name="credentials" type="tns:CredentialsType" minOccurs="0" />
                    <xsd:element name="behavior" type="tns:BehaviorType" minOccurs="0" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="focus" type="tns:FocusType"/>

    <xsd:complexType name="CredentialsType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <!--<xsd:element name="password" type="tns:PasswordType" minOccurs="0" />-->
            <!--<xsd:element name="nonce" type="tns:NonceType" minOccurs="0" />-->
            <!--<xsd:element name="securityQuestions" type="tns:SecurityQuestionsCredentialsType" minOccurs="0" />-->
            <!--<xsd:element name="attributeVerification" type="tns:AttributeVerificationCredentialsType" minOccurs="0" />-->
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>
    <xsd:element name="credentials" type="tns:CredentialsType"/>

    <xsd:complexType name="BehaviorType">
        <xsd:annotation>
        </xsd:annotation>
        <xsd:sequence>
            <!--<xsd:element name="authentication" type="tns:AuthenticationBehavioralDataType" minOccurs="0" maxOccurs="unbounded" />-->
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="AssignmentHolderType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <a:object/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="assignment" type="tns:AssignmentType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>FocusType.assignmentKey</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="iteration" type="xsd:int" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:operational>true</a:operational>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="iterationToken" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:operational>true</a:operational>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="archetypeRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:objectReferenceTargetType>tns:ArchetypeType</a:objectReferenceTargetType>
                                <a:operational>true</a:operational>
                                <a:displayName>AssignmentHolderType.archetypeRef</a:displayName>
                                <a:since>4.0</a:since>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>

                    <xsd:element name="roleMembershipRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:objectReferenceTargetType>tns:AbstractRoleType</a:objectReferenceTargetType>
                                <a:operational>true</a:operational>
                                <a:displayName>FocusType.roleMembershipRef</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="assignmentHolder" type="tns:AssignmentHolderType" />

    <xsd:complexType name="AccountConstructionType">
        <xsd:annotation>
            <xsd:documentation>
                Account construction type is NOT a container. It is a complex-type property.
                This tests the ability to deal with complex type properties and also with
                dateTime and RawType fields in them.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="howto" type="xsd:string" minOccurs="0"/>
            <xsd:element name="when" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="value" type="t:RawType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ActivationType">
        <xsd:annotation>
            <xsd:documentation>
                ActivationTyps is a container, therefore the following elements are properties.
                This tests the ability to deal with boolean and dateTime properties.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
                <a:operational>true</a:operational>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="enabled" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="validFrom" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="validTo" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AttributesType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DummyProtectedStringType">
        <xsd:annotation>
            <xsd:documentation>
                This type mimmicks a complex type that may be used in properties.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FooObjectClass">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ft:uid" minOccurs="0"/>
            <xsd:element ref="ft:name" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="foo" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ResourceType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="connectorRef" type="tns:ObjectReferenceType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:objectReferenceTargetType>tns:ConnectorType</a:objectReferenceTargetType>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="schema" type="t:SchemaDefinitionType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="resource" type="tns:ResourceType"/>

    <xsd:complexType name="ConnectorType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="connectorType" type="xsd:string"/>
                    <xsd:element name="connectorVersion" type="xsd:string" minOccurs="0"/>
                    <xsd:element minOccurs="0" name="available" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="connector" type="tns:ConnectorType"/>


    <!-- The following is currently not supported by prism. Keeping it here if needed in the future... -->
    <xsd:complexType name="EventHandlerType">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:element name="handler" type="tns:EventHandlerType" abstract="true"/>

    <xsd:complexType name="EventHandlerChainType">
        <xsd:complexContent>
            <xsd:extension base="tns:EventHandlerType">
                <xsd:sequence>
                    <xsd:element ref="tns:handler" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="handlerChain" type="tns:EventHandlerChainType" substitutionGroup="tns:handler"/>

    <xsd:complexType name="EventCategoryFilterType">
        <xsd:complexContent>
            <xsd:extension base="tns:EventHandlerType">
                <xsd:sequence>
                    <xsd:element name="category" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="categoryFilter" type="tns:EventCategoryFilterType" substitutionGroup="tns:handler"/>

    <xsd:complexType name="EventStatusFilterType">
        <xsd:complexContent>
            <xsd:extension base="tns:EventHandlerType">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="statusFilter" type="tns:EventStatusFilterType" substitutionGroup="tns:handler"/>

    <xsd:complexType name="EventOperationFilterType">
        <xsd:complexContent>
            <xsd:extension base="tns:EventHandlerType">
                <xsd:sequence>
                    <xsd:element name="operation" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="operationFilter" type="tns:EventOperationFilterType" substitutionGroup="tns:handler"/>

    <xsd:complexType name="FooValueMetadataType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <!--   xsd:sequence>
            <xsd:element name="loa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="test" type="xsd:string" minOccurs="0"/>
        </xsd:sequence -->
    </xsd:complexType>
    <xsd:element name="fooValueMetadataType" type="tns:FooValueMetadataType"/>

    <xsd:complexType name="MessageTemplateType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="defaultContent" type="tns:MessageTemplateContentType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="messageTemplate" type="tns:MessageTemplateType"/>

    <xsd:complexType name="MessageTemplateContentType">
        <xsd:sequence>
            <xsd:element name="bodyExpression" type="tns:ExpressionType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExpressionType">
        <xsd:sequence>
            <xsd:element name="script" type="tns:ScriptExpressionEvaluatorType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ScriptExpressionEvaluatorType">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RoleType">
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractRoleType">
                <xsd:sequence>
                    <xsd:element name="feature" type="tns:UserInterfaceFeatureType" minOccurs="0"/>
                    <xsd:element name="objectListPanel" type="tns:GuiObjectListPanelConfigurationType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="role" type="tns:RoleType"/>

    <xsd:element name="documentation" type="xsd:string">
        <xsd:annotation>
            <xsd:appinfo>
                <a:since>4.1</a:since>
            </xsd:appinfo>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ObjectSelectorType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:merger>ObjectSelectorType</a:merger>
                <a:schemaContext>
                    <a:typePath>type</a:typePath>
                </a:schemaContext>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.name</a:displayName>
                        <a:since>4.8</a:since>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:description" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.description</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="tns:documentation" minOccurs="0"/>
            <xsd:element name="type" minOccurs="0" type="xsd:QName">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.type</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="subtype" minOccurs="0" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.subtype</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="archetypeRef" type="tns:ObjectReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:ArchetypeType</a:objectReferenceTargetType>
                        <a:since>4.0</a:since>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="orgRef" type="tns:ObjectReferenceType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:objectReferenceTargetType>tns:OrgType</a:objectReferenceTargetType>
                        <a:displayName>ObjectSelectorType.orgRef</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="filter" type="q:SearchFilterType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Filter that an object must match to be considered selected by this statement.
                        This filter MUST NOT contain organization unit clauses. It may only contain
                        property clauses, logical operations and so on.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.filter</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="parent" type="tns:ObjectParentSelectorType" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <a:displayName>ObjectSelectorType.parent</a:displayName>
                        <a:elaborate>true</a:elaborate> <!-- because of recursion -->
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="SubjectedObjectSelectorType">
        <xsd:annotation>
            <xsd:documentation>
                Selects some objects from all the objects in midPoint.
                This is an extension of ObjectSelectorType that adds
                criteria that relate objects to a specific subject
                (logged-in user).
            </xsd:documentation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectSelectorType">
                <xsd:sequence>
                    <xsd:element name="allowInactive" type="xsd:boolean" minOccurs="0" default="false">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="OwnedObjectSelectorType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:SubjectedObjectSelectorType">
                <xsd:sequence>
                    <xsd:element name="owner" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="delegator" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="requester" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="assignee" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="candidateAssignee" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                    <xsd:element name="relatedObject" type="tns:SubjectedObjectSelectorType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="RelationDefinitionType">
        <xsd:annotation>
            <xsd:documentation>
                Definition of a single (custom) relation.
            </xsd:documentation>
            <xsd:appinfo>
                <a:container>true</a:container>
                <a:since>3.9</a:since>
                <a:displayName>RelationDefinitionType.relation</a:displayName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ref" type="xsd:QName">
                <xsd:annotation>
                    <xsd:documentation>
                        Relations identifier (QName)
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.ref</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Free-form description of relation purpose. This field can be used as a comment.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.description</a:displayName>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="processedOnLogin" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation is processed during login. The default value is true for member, meta and delegation
                        kinds, false otherwise. EXPERIMENTAL.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.processedOnLogin</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="processedOnRecompute" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation is (by default) processed during recomputation. The default value is true
                        for member, meta, manager and delegation kinds, false otherwise. EXPERIMENTAL.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.processedOnRecompute</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="storedIntoParentOrgRef" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation is stored into parentOrgRef item. The default value is true
                        for member kind, false otherwise. EXPERIMENTAL.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.storedIntoParentOrgRef</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="automaticallyMatched" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation is automatically matched by order constraints (without the need to explicitly
                        list them). The default value is true for member, meta and delegation kinds, false otherwise.
                        EXPERIMENTAL.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:displayName>RelationDefinitionType.automaticallyMatched</a:displayName>
                        <a:experimental>true</a:experimental>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="staticallyDefined" type="xsd:boolean" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Whether this relation was statically defined in midPoint code. Do not set this flag explicitly,
                        it is filled-in when relations are parsed.
                    </xsd:documentation>
                    <xsd:appinfo>
                        <a:since>3.9</a:since>
                        <a:operational>true</a:operational>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="AuthorizationType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:naturalKey>name</a:naturalKey>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0"/>
            <xsd:element ref="tns:description" minOccurs="0"/>
            <xsd:element ref="tns:documentation" minOccurs="0"/>
            <xsd:element name="action" type="xsd:anyURI" maxOccurs="unbounded"/>
            <xsd:element name="object" type="tns:OwnedObjectSelectorType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="item" type="t:ItemPathType"  minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="exceptItem" type="t:ItemPathType"  minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="relation" type="xsd:QName" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="AbstractRoleType" abstract="true">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:schemaContext>
                    <a:type>RoleType</a:type>
                </a:schemaContext>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="displayName" type="t:PolyStringType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.displayName</a:displayName>
                                <a:displayOrder>9</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="identifier" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.identifier</a:displayName>
                                <a:displayOrder>110</a:displayOrder>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="inducement" type="tns:AssignmentType" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.inducement</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="authorization" type="tns:AuthorizationType" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="requestable" type="xsd:boolean" minOccurs="0" default="false">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.requestable</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="delegable" type="xsd:boolean" minOccurs="0" default="false">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.delegable</a:displayName>
                                <a:since>3.5</a:since>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="riskLevel" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>AbstractRoleType.riskLevel</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="abstractRole" type="tns:AbstractRoleType"/>
    <xsd:complexType name="ObjectParentSelectorType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:OwnedObjectSelectorType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="path" type="t:ItemPathType">
                        <xsd:annotation>
                            <xsd:documentation>
                                Specification of a path from the parent to the current object (item).
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="UserInterfaceFeatureType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:naturalKey>tns:identifier</a:naturalKey>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="identifier" type="xsd:string" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element ref="tns:documentation" minOccurs="0"/>
            <xsd:element name="displayOrder" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:long"/>
    </xsd:complexType>

    <xsd:complexType name="GuiObjectListPanelConfigurationType">
        <xsd:annotation>
            <xsd:appinfo>
                <a:container/>
                <a:since>3.9</a:since>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="tns:UserInterfaceFeatureType">
                <xsd:sequence>
                    <xsd:element name="includeDefaultColumns" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="disableSorting" type="xsd:boolean" default="false" minOccurs="0"/>
                    <xsd:element name="disableCounting" type="xsd:boolean" default="false" minOccurs="0"/>
                    <xsd:element name="refreshInterval" type="xsd:int" minOccurs="0"/>
                    <xsd:element name="paging" type="q:PagingType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:experimental>true</a:experimental>
                                <a:since>4.4</a:since>
                                <a:displayName>GuiObjectListPanelConfigurationType.paging</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ShadowType">
        <xsd:complexContent>
            <xsd:extension base="tns:ObjectType">
                <xsd:sequence>
                    <xsd:element name="resourceRef" type="tns:ObjectReferenceType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:objectReferenceTargetType>tns:ResourceType</a:objectReferenceTargetType>
                                <a:displayName>ShadowType.resource</a:displayName>
                                <a:diagram>
                                    <a:name>user-shadow-resource</a:name>
                                    <!-- default is to include this item, therefore no "inclusion" specification is needed here -->
                                </a:diagram>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!--<xsd:element name="shadowLifecycleState" type="tns:ShadowLifecycleStateType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ShadowType.shadowLifecycleState</a:displayName>-->
                    <!--            <a:experimental>true</a:experimental>-->
                    <!--            <a:since>4.4</a:since>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="purpose" type="tns:ShadowPurposeType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ShadowType.purpose</a:displayName>-->
                    <!--            <a:since>4.8</a:since>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <xsd:element name="dead" type="xsd:boolean" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ShadowType.dead</a:displayName>
                                <a:displayHint>emphasized</a:displayHint>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="deathTimestamp" type="xsd:dateTime" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ShadowType.deathTimestamp</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!--<xsd:element name="pendingOperation" type="tns:PendingOperationType" minOccurs="0" maxOccurs="unbounded">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ShadowType.pendingOperation</a:displayName>-->
                    <!--            <a:since>3.6</a:since>-->
                    <!--            <a:index>presence</a:index>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="synchronizationSituation" type="tns:SynchronizationSituationType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ShadowType.synchronizationSituation</a:displayName>-->
                    <!--            <a:displayHint>emphasized</a:displayHint>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <xsd:element name="synchronizationTimestamp" type="xsd:dateTime" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ShadowType.synchronizationTimestamp</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="fullSynchronizationTimestamp" type="xsd:dateTime" minOccurs="0">
                        <xsd:annotation>
                        </xsd:annotation>
                    </xsd:element>
                    <!--<xsd:element name="synchronizationSituationDescription" type="tns:SynchronizationSituationDescriptionType" minOccurs="0" maxOccurs="unbounded">-->
                    <!--    <xsd:annotation>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="correlation" type="tns:ShadowCorrelationStateType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:since>4.5</a:since>-->
                    <!--            <a:container>true</a:container>-->
                    <!--            <a:experimental>true</a:experimental>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <xsd:element name="objectClass" type="xsd:QName" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ShadowType.objectClass</a:displayName>
                                <a:displayHint>emphasized</a:displayHint>
                                <a:diagram>
                                    <a:name>user-shadow-resource</a:name>
                                </a:diagram>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="primaryIdentifierValue" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ShadowType.primaryIdentifierValue</a:displayName>
                                <a:since>4.0</a:since>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="auxiliaryObjectClass" type="xsd:QName" minOccurs="0" maxOccurs="unbounded">
                    </xsd:element>
                    <!--<xsd:element name="kind" type="tns:ShadowKindType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ShadowType.kind</a:displayName>-->
                    <!--            <a:diagram>-->
                    <!--                <a:name>user-shadow-resource</a:name>-->
                    <!--            </a:diagram>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <xsd:element name="intent" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ShadowType.intent</a:displayName>
                                <a:displayHint>emphasized</a:displayHint>
                                <a:diagram>
                                    <a:name>user-shadow-resource</a:name>
                                </a:diagram>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="tag" type="xsd:string" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                Tag value used to discriminate multiple accounts that have the same resource+kind+intent combination.
                            </xsd:documentation>
                            <xsd:appinfo>
                                <a:displayName>ShadowType.tag</a:displayName>
                                <a:since>4.0</a:since>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="protectedObject" type="xsd:boolean" minOccurs="0" default="false">
                    </xsd:element>
                    <xsd:element name="ignored" type="xsd:boolean" minOccurs="0" default="false">
                        <xsd:annotation>
                            <xsd:documentation>
                                Ignored shadows will not be processed during synchronization.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="assigned" type="xsd:boolean" minOccurs="0" default="false" />
                    <xsd:element name="exists" type="xsd:boolean" minOccurs="0" default="true" />
                    <xsd:element name="iteration" type="xsd:int" minOccurs="0" />
                    <xsd:element name="iterationToken" type="xsd:string" minOccurs="0" />
                    <!--<xsd:element name="attributes" type="tns:ShadowAttributesType" minOccurs="0" />-->
                    <!--<xsd:element name="referenceAttributes" type="tns:ShadowReferenceAttributesType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ShadowType.referenceAttributes</a:displayName>-->
                    <!--            <a:since>4.9</a:since>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="associations" type="tns:ShadowAssociationsType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ShadowType.association</a:displayName>-->
                    <!--            <a:since>4.9</a:since>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <!--<xsd:element name="association" type="tns:ShadowAssociationType" minOccurs="0" maxOccurs="unbounded">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ShadowType.association</a:displayName>-->
                    <!--            <a:deprecated>true</a:deprecated>-->
                    <!--            <a:deprecatedSince>4.9</a:deprecatedSince>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <xsd:element name="activation" type="tns:ActivationType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ShadowType.activation</a:displayName>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="credentials" type="tns:CredentialsType" minOccurs="0" />
                    <!--<xsd:element ref="tns:cachingMetadata" minOccurs="0" />-->
                    <!--<xsd:element name="contentDescription" type="tns:ShadowContentDescriptionType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:since>4.9</a:since>-->
                    <!--            <a:operational>true</a:operational>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="shadow" type="tns:ShadowType" substitutionGroup="tns:object" />

    <xsd:complexType name="ArchetypeType">
        <xsd:complexContent>
            <xsd:extension base="tns:AbstractRoleType">
                <xsd:sequence>
                    <!--<xsd:element name="archetypePolicy" type="tns:ArchetypePolicyType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ArchetypeType.archetypePolicy</a:displayName>-->
                    <!--            <a:displayOrder>120</a:displayOrder>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <xsd:element name="superArchetypeRef" type="tns:ObjectReferenceType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:displayName>ArchetypeType.superArchetypeRef</a:displayName>
                                <a:help>AssignmentType.superArchetypeRef.help</a:help>
                                <a:objectReferenceTargetType>tns:ArchetypeType</a:objectReferenceTargetType>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <!--<xsd:element name="archetypeType" type="tns:ArchetypeTypeType" minOccurs="0">-->
                    <!--    <xsd:annotation>-->
                    <!--        <xsd:appinfo>-->
                    <!--            <a:displayName>ArchetypeType.archetypeType</a:displayName>-->
                    <!--            <a:displayOrder>120</a:displayOrder>-->
                    <!--        </xsd:appinfo>-->
                    <!--    </xsd:annotation>-->
                    <!--</xsd:element>-->
                    <xsd:element name="securityPolicyRef" type="tns:ObjectReferenceType" minOccurs="0">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <a:objectReferenceTargetType>tns:SecurityPolicyType</a:objectReferenceTargetType>
                                <a:displayName>ArchetypeType.securityPolicy</a:displayName>
                                <a:since>4.7</a:since>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="archetype" type="tns:ArchetypeType" substitutionGroup="tns:object"/>
</xsd:schema>
